# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json
pip-log.txt
*.egg-info/
build/
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Other
instance/
.env
